# Track ONNX files under auto_agent_evaluation/backend
auto_agent_evaluation/backend/*.onnx filter=lfs diff=lfs merge=lfs -text

# Track ONNX files under agent_evaluation_nlp/backend
agent_evaluation_nlp/backend/*.onnx filter=lfs diff=lfs merge=lfs -text