# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.sqlite3
*.log

# FastAPI / Env files
.env
.env.*
instance/
config.py
*.db

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
docker-compose.override.yml

# Node/React
node_modules/
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / Testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.spec

# Jupyter
.ipynb_checkpoints

# Migrations (if not needed in version control)
migrations/
