.statuses-container {
  padding: 2rem;
}

.statuses-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.status-matrix {
  border-collapse: collapse;
  margin: auto;
  font-family: Arial, sans-serif;
}

.status-matrix th,
.status-matrix td {
  width: 120px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

.active-cell {
  background-color: rgba(255, 99, 99, 0.5); /* semi-transparent red */
}

.disabled-cell {
  background-color: #eee;
  pointer-events: none;
  cursor: not-allowed;
}

th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.legend-box {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.legend-button {
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.2s ease;
  color: #000000
}

.legend-button.active {
  background-color: #e6ffe6;
  border-color: rgb(24, 136, 24);
}

.legend-button.active:nth-child(2) {
  background-color: #ffe6e6;
  border-color: rgb(170, 15, 15);
}
.mode-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5a4864;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

.switch-label {
  font-size: 14px;
}